h1 {
  font-size: 50px; 
  text-align: center;
}

p {
  margin-left: 300px;
  margin-right: 300px;
  font-size: 18px;
  padding: 20px 30px;
  background: #fff;
  border-radius: 5px;
}

span {
    font-size: 50px;

}

.image {
  background-image: url("Chopin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  height: 660px;
}


a {
  font-size: 25px;
}
body {
  background: url('background.png');
  background-size: cover;
  background-attachment: fixed;
  
}

.timeline{
  position:relative;
  max-width:1200px;
  margin: auto;
  
}

.container {
    padding: 10px 10px;
    position:relative;
    width: 40%;
    background: #e2e2e2;
    border-radius: 5px;

}
.text-box{
    padding: 20px 30px;
    background: #fff;
    position:relative;
    border-radius: 5px;
    font-size: 15px
}

.left-container{
  left:8.4%;
}
.right-container{
  left: 50%;
}


h2 { 
  text-align: center;
}